<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput placeholder="Search Patient" (keyup)="applyFilter($event)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-3" [formGroup]="datePatientForm">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="start"   (dateChange)="filterDate($event.value)">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-2 d-flex align-items-center justify-content-end">
        <!-- <button mat-flat-button (click)="openPatientDialog('Add',{})" color="primary" > -->
        <button mat-flat-button (click)="openPatientDialog('Add',{})" color="primary" *ngIf="userType !== 'Doctor'">
          Add Patient
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1}}</td>
        </ng-container>

         <ng-container matColumnDef="tokenNumber">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Token No</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.tokenNumber }} </td>
        </ng-container>
        
        <ng-container matColumnDef="patientName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 Patienttable">Patient Name</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{element.firstName }}   {{element.lastName }} <br>
            ({{element.mobileNumber }})
          </td>
        </ng-container>
        
        <ng-container matColumnDef="laboratoryName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 Laboratorytable">Laboratory Name</th>
          <td mat-cell *matCellDef="let element">{{getlaboratorylist(element.laboratoryName)  }}</td>
        </ng-container>
        
        <!-- <ng-container matColumnDef="laboratoryName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 Laboratorytable">Laboratory Name</th>
          <td mat-cell *matCellDef="let element">{{getlaboratorylist(element.laboratoryName)  }}</td>
        </ng-container> -->
        
        <ng-container matColumnDef="doctorName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Doctor Name </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ getDoctorslist(element.doctorName)  }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 Mobiletable">Mobile Number</th>
          <td mat-cell *matCellDef="let element">{{ element.mobileNumber }}</td>
        </ng-container> -->

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Address</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>

        <ng-container matColumnDef="bloodGroup">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 Bloodtable">Blood Group</th>
          <td mat-cell *matCellDef="let element">{{ element.bloodGroup }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date?.toDate() | date:'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Time </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.time }}</td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Age</th>
          <td mat-cell *matCellDef="let element">{{ element.age }}</td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Gender</th>
          <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
        </ng-container>
        
        <ng-container matColumnDef="appointmentStatus">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 Appointmenttable"> Appointment Status </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.appointmentStatus }}</td>
        </ng-container>

        <ng-container matColumnDef="visitType">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Visit Type </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.visitType }}</td>
        </ng-container>
<!-- 
        <ng-container matColumnDef="paymentMethod">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Payment</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.paymentMethod }}</td>
        </ng-container> -->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a class="m-r-10 cursor-pointer" *ngIf="element.reports && element.reports.length > 0">
              <i-tabler name="microscope" class="icon-18" (click)="openlaboratory(element)"></i-tabler>
            </a>
            <a class="m-r-10 cursor-pointer" *ngIf="element.medical && element.medical.length > 0">
              <i-tabler name="report-medical" class="icon-18" (click)="openMedical(element)"></i-tabler>
            </a>
            <a class="m-r-10 cursor-pointer">
              <i-tabler name="edit" class="icon-18" (click)="openPatientDialog('Update', element)"></i-tabler>
            </a>
            <a class="m-r-10 cursor-pointer">
              <i-tabler name="trash" class="icon-18" (click)="openPatientDialog('Delete', element)"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="PatientColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: PatientColumns"></tr>
        <tr class="mat-row" style="text-align: center;" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="PatientColumns.length">
            No record found
          </td>
        </tr>

      </table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>