// .dialog-container {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//   }
  
//   .dialog-content {
//     flex: 1;
//     overflow-y: auto; /* Allows scrolling if content is long */
//   }
  
.save-close-btn {
    position: fixed;
    bottom: 0;
    background-color: white; /* Ensure background color matches your dialog */
    padding: 10px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow effect */
    z-index: 1000;
  }
  