<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput placeholder="Search  Lab" (keyup)="applyFilter($any($event.target).value)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openLabDialog('Add', {})" color="primary">
          Add Lab
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">No.</th>
          <td mat-cell *matCellDef="let element;  let i = index ">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="patientName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Patient Name
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.patientName }}</td>
        </ng-container>

        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Mobile Number
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.mobileNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Age
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.age }}</td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Gender
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.gender }}</td>
        </ng-container>

        <ng-container matColumnDef="reportType">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Report Tyap
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.reportType }}</td>
        </ng-container>

        <ng-container matColumnDef="reportName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Report Name
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.reportName }} </td>
        </ng-container>

        <ng-container matColumnDef="reportFee">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Report Fee
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.reportFee }}
          </td>
        </ng-container>

        <ng-container matColumnDef="disease">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Disease
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.disease }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a (click)="openLabDialog('Update', element)" class="m-r-10 cursor-pointer"><i-tabler name="edit"
                class="icon-18"></i-tabler></a>
            <a (click)="openLabDialog('Delete', element)" class="m-r-10 cursor-pointer">
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="labColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: labColumns"></tr>
        <tr class="mat-row" style="text-align: center;" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="labColumns.length">
            No record found
          </td>
        </tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>