<h2 class="f-w-500 p-b-20 b-b-1" mat-dialog-title><strong>{{action}} Lab</strong></h2>
<mat-dialog-content class="p-t-20" *ngIf="action !== 'Delete'; else elseTemplate">
    <form [formGroup]="addlabForm">
        <div class="row">

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Patient Name</mat-label>
                    <mat-select #dropdown formControlName="patientName" placeholder="Enter patient name">
                        <mat-option [value]="item.id" *ngFor="let item of appointmentslist">{{item.firstName}} {{item.lastName}} </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addlabForm.get('patientName').errors && addlabForm.get('patientName').errors['required']">
                        Doctor name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Laboratory Name</mat-label>
                    <mat-select #dropdown formControlName="laboratoryName" placeholder="Enter laboratory name">
                        <mat-option [value]="item.name" *ngFor="let item of laboratorylist">{{item.laboratoryName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Mobile Number</mat-label>
                    <input type="number" formControlName="mobileNumber" placeholder="Enter mobile number" matInput require
                        onKeyPress="if(this.value.length==10) return false;" min="0" />
                    <mat-error
                        *ngIf="addlabForm.get('mobileNumber').errors && addlabForm.get('mobileNumber').errors['required']">
                        Mobile number is required
                    </mat-error>
                    <mat-error
                        *ngIf="addlabForm.get('mobileNumber').errors && addlabForm.get('mobileNumber').errors['pattern']">
                        Please enter a valid 10-digit
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Age</mat-label>
                    <input type="number" formControlName="age" placeholder="Enter age"
                        onKeyPress="if(this.value.length==3) return false;" matInput require min="0" />
                    <mat-error *ngIf="addlabForm.get('age').errors && addlabForm.get('age').errors['required']">
                        Age is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Report Type</mat-label>
                    <input type="text" formControlName="reportType" placeholder="Enter report type" matInput require />
                    <mat-error
                        *ngIf="addlabForm.get('reportType').errors && addlabForm.get('reportType').errors['required']">
                        Report type is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Report Name</mat-label>
                    <input type="text" formControlName="reportName" placeholder="Enter report name" matInput required />
                    <mat-error
                        *ngIf="addlabForm.get('reportName').errors && addlabForm.get('reportName').errors['required']">
                        Report name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Report Fee</mat-label>
                    <input type="number" formControlName="reportFee" placeholder="Enter report fee" matInput require min="0" />
                    <mat-error
                        *ngIf="addlabForm.get('reportFee').errors && addlabForm.get('reportFee').errors['required']">
                        Report fee is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Disease</mat-label>
                    <input type="text" formControlName="disease" placeholder="Enter disease" matInput require />
                    <mat-error *ngIf="addlabForm.get('disease').errors && addlabForm.get('disease').errors['required']">
                        Disease is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Gender</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="gender">
                    <mat-radio-button value="male">Male </mat-radio-button>
                    <mat-radio-button value="female">Female </mat-radio-button>
                    <mat-error *ngIf="addlabForm.get('gender')?.invalid && addlabForm.get('gender')?.touched">
                        Gender is required
                    </mat-error>
                </mat-radio-group>
            </div>

        </div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
        <mat-dialog-actions class="p-24 justify-content-end">
            <button mat-stroked-button color="warn" class="m-l-8" mat-dialog-close>
                Cancel
            </button>
            <button mat-flat-button (click)="doAction()" mat-flat-button [mat-dialog-close]="true" color="primary" [disabled]="action !== 'Delete' && addlabForm.invalid">
                {{action}}
            </button>
        </mat-dialog-actions>
<ng-template #elseTemplate>
    <div class="p-x-24">
        <p>Are you sure you want to delete <span class="f-w-600">{{local_data.Name}}</span> ?</p>
    </div>
    <mat-divider></mat-divider>
</ng-template>