.Patienttable{
    min-width: 136px;
}
.Admissiontable{
    min-width: 153px;
}
.Paymenttable{
    min-width: 165px;
}
.Discounttable{
    min-width: 121px;
}
.Taxtable{
    min-width: 77px;
}
.Finaltable{
    min-width: 108px;
}