.error-message {
    position: absolute;
    left: 0;
    font-size: 11px;
  }

  .w-medicine{
        width: 150px;
    margin-left: 14px;
  }

  .w-medicine-add{
     width: 50px;
      margin-left: 14px;
  }

  .w-medicine-qty{
     width: 80px;
    margin-left: 14px;
  }

  .w-medicine-Unit{
     width: 80px;
    margin-left: 14px;
  }

    .w-medicine-price{
      width: 80px;
      margin-left: 14px;
    }