.error-message {
    position: absolute;
    left: 0;
    font-size: 11px;
  }
  
  .search-container input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
}

.search-container input::placeholder {
  color: #888;
  opacity: 1;
}

.text-color{
      color: black;
    font-size: 15px;
    font-weight: 600;

}