<h2 class="f-w-500 p-b-20 b-b-1" mat-dialog-title><strong>{{action}} Bill</strong></h2>
<mat-dialog-content class="p-t-20" *ngIf="action !== 'Delete'; else elseTemplate">
    <form [formGroup]="billForm">
        <div class="row">

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Patient Name</mat-label>
                    <mat-select #dropdown formControlName="patientName" placeholder="Enter patient name">
                        <mat-option [value]="item.id" *ngFor="let item of appointmentslist">{{item.firstName}} {{item.lastName}} </mat-option>
                    </mat-select>
                    <mat-error class="error-message"
                        *ngIf="billForm.get('patientName').errors && billForm.get('patientName').errors['required']">
                        Doctor name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Payment Status</mat-label>
                    <mat-select #dropdown formControlName="status" placeholder="Enter status">
                        <mat-option [value]="item.name" *ngFor="let item of statusList">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error class="error-message" *ngIf="billForm.get('status').errors && billForm.get('status').errors['required']">
                        Payment status is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field class="w-100 m-t-10" appearance="outline">
                    <mat-label>Admission Date</mat-label>
                    <input matInput [matDatepicker]="touchpic" placeholder="Enter date" formControlName="admissionDate" />
                    <mat-datepicker-toggle matIconSuffix [for]="touchpic"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #touchpic></mat-datepicker>
                    <mat-error class="error-message" *ngIf="billForm.get('admissionDate')?.invalid && billForm.get('admissionDate')?.touched">
                        Admission date is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field class="w-100 m-t-10" appearance="outline">
                    <mat-label>Discharge Date</mat-label>
                    <input matInput [matDatepicker]="dischargeDate" placeholder="Enter date"
                        formControlName="dischargeDate" />
                    <mat-datepicker-toggle matIconSuffix [for]="dischargeDate"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #dischargeDate></mat-datepicker>
                    <mat-error class="error-message" *ngIf="billForm.get('dischargeDate')?.invalid && billForm.get('dischargeDate')?.touched">
                        Discharge date is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Payment Method</mat-label>
                    <mat-select #dropdown formControlName="paymentMethod" placeholder="Enter payment method">
                        <mat-option [value]="item.name"
                            *ngFor="let item of paymentMethodList">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error class="error-message"
                        *ngIf="billForm.get('paymentMethod').errors && billForm.get('paymentMethod').errors['required']">
                        Payment method is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Total</mat-label>
                    <input type="number" formControlName="total" placeholder="Enter total" matInput require min="0" />
                    <mat-error class="error-message" *ngIf="billForm.get('total').errors && billForm.get('total').errors['required']">
                        Total is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Discount %</mat-label>
                    <input type="number" formControlName="discount" placeholder="Enter discount" matInput require min="0" />
                    <mat-error class="error-message" *ngIf="billForm.get('discount').errors && billForm.get('discount').errors['required']">
                        Discount is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Tax %</mat-label>
                    <input type="number" formControlName="tax" placeholder="Enter tax" matInput require min="0" />
                    <mat-error class="error-message" *ngIf="billForm.get('tax').errors && billForm.get('tax').errors['required']">
                        Tax is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Final Total</mat-label>
                    <input type="number" formControlName="finalTotal" placeholder="Enter final total" matInput require />
                    <mat-error class="error-message"
                        *ngIf="billForm.get('finalTotal').errors && billForm.get('finalTotal').errors['required']">
                        Final total is required
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions class="p-24 justify-content-end">
    <button mat-stroked-button color="warn" class="m-l-8" mat-dialog-close >
        Cancel
    </button>
    <button mat-flat-button (click)="doAction()" [mat-dialog-close]="true" mat-flat-button color="primary" [disabled]="action !== 'Delete' && billForm.invalid">
        {{action}}
    </button>
</mat-dialog-actions>
<ng-template #elseTemplate>
    <div class="p-x-24">
        <p>Are you sure you want to delete <span class="f-w-600">{{local_data.Name}}</span> ?</p>
    </div>
    <mat-divider></mat-divider>
</ng-template>