<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-3">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput placeholder="Search  Purchase" (keyup)="applyFilter($any($event.target).value)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
       <div class="col-lg-3">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Select Date</mat-label>

          <mat-date-range-input [rangePicker]="picker" [formGroup]="datePurchaseListForm">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
          </mat-date-range-input>

          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker (closed)="filterDate()"></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-lg-3"></div>
    
      <div class="col-lg-2 d-flex align-items-center justify-content-end add-pdfbutton">
        <button mat-flat-button (click)="openPurchaseDialog('Add', {})" color="primary">
          Add
        </button>
        <button mat-flat-button color="primary" class="download-btn" (click)="filedownload()">
          <i-tabler name="file-download" class="icon-25"></i-tabler>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">No.</th>
          <td mat-cell *matCellDef="let element;  let i = index ">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="purchaseDate">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Purchase Date
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.purchaseDate?.toDate() | date:'dd/MM/yyyy' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="supplierName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Supplier Name
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.supplierName }}</td>
        </ng-container>

        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
          Mobile Number
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.mobileNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Total
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ getTotal(element) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a class="m-r-10 cursor-pointer">
              <i-tabler name="report-medical" class="icon-18" (click)="openPurchaseView(element)"></i-tabler>
            </a>
            <a (click)="openPurchaseDialog('Update', element)" class="m-r-10 cursor-pointer">
              <i-tabler name="edit" class="icon-18"></i-tabler>
            </a>
            <a (click)="openPurchaseDialog('Delete', element)" class="m-r-10 cursor-pointer">
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="purchaseColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: purchaseColumns"></tr>
        <tr class="mat-row" style="text-align: center;" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="purchaseColumns.length">
            No record found
          </td>
        </tr>

      </table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>