<h2 mat-dialog-title class="m-b-24  b-b-1 p-b-20">View Medicine</h2>
<mat-card class="cardWithShadow" >
    <mat-card-content class="p-24">
      <div class="table-responsive">
        <table mat-table [dataSource]="viewMedicalDataSource" class="w-100">
          <ng-container matColumnDef="srno">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>
  
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Date</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                    {{ element.date?.toDate() | date:'dd/MM/yyyy' }}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="medicineName">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Medicine Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                    {{ element.medicineName }}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="CompanyName">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Company Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                    {{ element.CompanyName }}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">category</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                    {{ element.category }}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Qty</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                    {{ element.qty }}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Time</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                    {{ element.time }}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Price</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16 m-t-0">
                    {{ element.rate }}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>


   
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" style="text-align: center;" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              No record found
            </td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
    <div mat-dialog-actions class="p-x-24 p-b-24 m-t-10 justify-content-end">
      <button mat-stroked-button color="warn" (click)="closeDialog()" class="m-l-8">Cancel</button>
    </div>