<h2 class="f-w-500 p-b-20 b-b-1" mat-dialog-title><strong>{{action}} Clicnk</strong></h2>
<mat-dialog-content class="p-t-20" *ngIf="action !== 'Delete'; else elseTemplate">
    <form [formGroup]=" clinicForm">
        <div class="row">

            <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600 ">Clinic Name</mat-label>
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <input type="text" formControlName="clicnkName" placeholder="Enter Clinic name" matInput require />
                    <mat-error class="error-message"
                        *ngIf=" clinicForm.get('clicnkName').errors &&  clinicForm.get('clicnkName').errors['required']">
                        Clinic name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600 ">Doctors Name</mat-label>
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <input type="text" formControlName="doctorsName" placeholder="Enter Doctors name" matInput
                        require />
                    <mat-error class="error-message"
                        *ngIf=" clinicForm.get('doctorsName').errors &&  clinicForm.get('doctorsName').errors['required']">
                        Doctors name is required
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600 ">Degree</mat-label>
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <input type="text" formControlName="degree" placeholder="Enter degree" matInput require />
                    <mat-error class="error-message"
                        *ngIf=" clinicForm.get('degree').errors &&  clinicForm.get('degree').errors['required']">
                        Degree is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600 ">Mobile Number</mat-label>
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <input type="number" formControlName="mobileNumber" placeholder="Enter mobile number" matInput
                        require onKeyPress="if(this.value.length==10) return false;" min="0" />
                    <mat-error class="error-message"
                        *ngIf=" clinicForm.get('mobileNumber').errors &&  clinicForm.get('mobileNumber').errors['required']">
                        Mobile number is required
                    </mat-error>
                    <mat-error class="error-message"
                        *ngIf=" clinicForm.get('mobileNumber').errors &&  clinicForm.get('mobileNumber').errors['pattern']">
                        Please enter a valid 10-digit
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600 ">Email</mat-label>
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <input type="text" formControlName="email" placeholder="Enter email" matInput />
                    <mat-error class="error-message"
                        *ngIf=" clinicForm.get('email').errors &&  clinicForm.get('email').errors['pattern']">
                        Please enter a valid email
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600 ">Address</mat-label>
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <input type="text" formControlName="address" placeholder="Enter Address" matInput require />
                    <mat-error class="error-message"
                        *ngIf=" clinicForm.get('address').errors &&  clinicForm.get('address').errors['required']">
                        Address is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600 ">User Name</mat-label>
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <input type="text" formControlName="userName" placeholder="Enter User Name" matInput require />
                    <mat-error class="error-message"
                        *ngIf="clinicForm.get('userName').errors &&  clinicForm.get('userName').errors['required']">
                        User Name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600">Password</mat-label>

                <mat-form-field appearance="outline" class="w-100 m-t-10">

                    <input [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                        placeholder="Enter Password" matInput required />

                    <!-- Show/Hide Button -->
                    <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                        <mat-icon>
                            {{ hidePassword ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                    </button>

                    <mat-error class="error-message" *ngIf="clinicForm.get('password')?.errors?.['required']">
                        Password is required
                    </mat-error>

                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions class="p-24 justify-content-end">
    <button mat-stroked-button color="warn" class="m-l-8" mat-dialog-close>
        Cancel
    </button>
    <button mat-flat-button (click)="doAction()" [mat-dialog-close]="true" mat-flat-button color="primary"
        [disabled]="action !== 'Delete' &&  clinicForm.invalid">
        {{action}}
    </button>
</mat-dialog-actions>
<ng-template #elseTemplate>
    <div class="p-x-24">
        <p>Are you sure you want to delete <span class="f-w-600">{{local_data.Name}}</span> ?</p>
    </div>
    <mat-divider></mat-divider>
</ng-template>