<h2 class="f-w-500 p-b-20 b-b-1" mat-dialog-title><strong>{{action}} Medicine</strong></h2>
<mat-dialog-content class="p-t-20" *ngIf="action !== 'Delete'; else elseTemplate">
    <form [formGroup]="addmedicineForm">
        <div class="row">

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Patient Name</mat-label>
                    <mat-select #dropdown formControlName="patientName" placeholder="Enter patient name">
                        <mat-option [value]="item.name" *ngFor="let item of patientlist">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addmedicineForm.get('patientName').errors && addmedicineForm.get('patientName').errors['required']">
                        Patient name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Medicine Name</mat-label>
                    <input type="text" formControlName="medicineName" placeholder="Enter medicine name" matInput
                        require />
                    <mat-error
                        *ngIf="addmedicineForm.get('medicineName').errors && addmedicineForm.get('medicineName').errors['required']">
                        Medicine name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Company Name</mat-label>
                    <input type="text" formControlName="companyName" placeholder="Enter company name" matInput
                        require />
                    <mat-error
                        *ngIf="addmedicineForm.get('companyName').errors && addmedicineForm.get('companyName').errors['required']">
                        Company name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Category</mat-label>
                    <mat-select #dropdown formControlName="category" placeholder="Enter category">
                        <mat-option [value]="item.name" *ngFor="let item of CategoryList">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addmedicineForm.get('category').errors && addmedicineForm.get('category').errors['required']">
                        Category is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Pack</mat-label>
                    <input type="text" formControlName="pack" placeholder="Enter pack" matInput require min="0" />
                    <mat-error
                        *ngIf="addmedicineForm.get('pack').errors && addmedicineForm.get('pack').errors['required']">
                        Pack is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Qty</mat-label>
                    <input type="number" formControlName="qty" placeholder="Enter qty" matInput require min="0" />
                    <mat-error
                        *ngIf="addmedicineForm.get('qty').errors && addmedicineForm.get('qty').errors['required']">
                        Qty is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Rate</mat-label>
                    <input type="number" formControlName="rate" placeholder="Enter rate" matInput require min="0" />
                    <mat-error
                        *ngIf="addmedicineForm.get('rate').errors && addmedicineForm.get('rate').errors['required']">
                        Rate is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Amount</mat-label>
                    <input type="number" formControlName="amount" placeholder="Enter amount" matInput require min="0" />
                    <mat-error
                        *ngIf="addmedicineForm.get('amount').errors && addmedicineForm.get('amount').errors['required']">
                        Amount is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Discount %</mat-label>
                    <input type="number" formControlName="discount" placeholder="Enter discount" matInput require
                        min="0" />
                    <mat-error
                        *ngIf="addmedicineForm.get('discount').errors && addmedicineForm.get('discount').errors['required']">
                        Discount is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>GST %</mat-label>
                    <input type="number" formControlName="gst" placeholder="Enter GST" matInput require min="0" />
                    <mat-error
                        *ngIf="addmedicineForm.get('gst').errors && addmedicineForm.get('gst').errors['required']">
                        GST is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>NetAmount</mat-label>
                    <input type="number" formControlName="netamount" placeholder="Enter netamount" matInput require
                        min="0" />
                    <mat-error
                        *ngIf="addmedicineForm.get('netamount').errors && addmedicineForm.get('netamount').errors['required']">
                        Netamount is required
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions class="p-24 justify-content-end">
    <button mat-stroked-button color="warn" class="m-l-8" mat-dialog-close>
        Cancel
    </button>
    <button mat-flat-button (click)="doAction()" [mat-dialog-close]="true" mat-flat-button color="primary"
        [disabled]="action !== 'Delete' && addmedicineForm.invalid">
        {{action}}
    </button>
</mat-dialog-actions>
<ng-template #elseTemplate>
    <div class="p-x-24">
        <p>Sure to delete <span class="f-w-600">{{local_data.Name}}</span> ?</p>
    </div>
    <mat-divider></mat-divider>
</ng-template>