.in-width {
  width: 150px;
  margin-left: 15px;
}

.AR-width{
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q-width{
 width: 100px;
 margin-right: 15px;
}

.t-width{
 width: 80px;
 margin-left: 15px;
 margin-right: 15px;
}
.r-width{
 width: 80px;
 margin-right: 15px;
}

.error-message {
    position: absolute;
    left: 0;
    font-size: 11px;
  }

  
.mealTiming-width{
  width: 130px;
    margin-right: 10px;
}