.in-width {
  width: 150px;
  margin-left: 15px;
}

.AR-width{
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q-width{
 width: 80px;
 margin-right: 15px;
}

.t-width{
 width: 80px;
 margin-left: 15px;
 margin-right: 15px;
}
.r-width{
 width: 80px;
 margin-right: 15px;
}